<div class="signup container">
  <form class="form signup-form" id="signup_ta">
    <h3>助理信息注册</h3>
    <div class="form-group row">
      <label class="col-md-2 form-control-label" for="ta_id">学号</label>
      <div class="col-md-2">
        <input type="number" class="form-control" name="id" id="ta_id" placeholder="请输入学号">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 form-control-label" for="name">姓名</label>
      <div class="col-md-3">
        <input type="text" class="form-control" name="name" id="name" placeholder="请输入姓名">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 form-control-label" for="sch_year">工作学年</label>
      <div class="col-md-2">
        <select name="sch_year" class="col-md-2 form-control">
          <option value="2018">2018</option>
          <option value="2019">2019</option>
          <option value="2020">2020</option>
          <option value="2021">2021</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 form-control-label" for="sch_term">工作学期</label>
      <div class="col-md-2">
        <select name="sch_term" class="form-control">
          <option value="1">一</option>
          <option value="2">二</option>
          <option value="3">三</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-md-2 form-control-label" for="sch_time">(工作时间)</label>
      <div class="col-md-6">
        <textarea type="number" class="form-control" name="sch_time" id="sch_time" placeholder="例如：周一 08:00-12:00 14:00-17:00"></textarea>
      </div>
    </div>
    <div class="signup-form-btn">
      <button class="btn btn-primary" type="button" onclick="signup_ta()">注册</button>
      <a class="btn btn-link" href="/admin">返回</a>
    </div>
  </form>
</div>
<script>
function signup_ta() {
  var formDataTa = $("#signup_ta").serialize();
  var can_post = true;
  $('#signup_ta').find(".form-control").not('textarea').each(function() {
    if ($(this).val() === '') {
      $(this).parent().parent('.form-group').addClass('has-error');
      can_post = false;
    }
  })
  if (can_post) {
    console.log('post')
    $.ajax({
      type: "post",
      url: "{:Url('Signup/insert_ta')}", //数据传输的控制器方法
      data: formDataTa, //这里data传递过去的是序列化以后的字符串
      success: function(data) {
        console.log(data);
        window.location.href = '/admin?id=' + $("#signup_ta").find("input[name='id']").val();
      },
      error: function() {
        console.log('error');
        alert('注册失败');
      }
    });
  } else {
    console.log('can\'t post')
    return;
  }
}
</script>