<div class="home">
	<nav class="home-nav navbar navbar-light bg-faded">
	  <div class="container home-nav__container">
	  	<a class="navbar-brand" href="{:Url('homeStu')}">实验室反馈系统</a>
	  	<ul class="nav nav-pills nav_tab" role="tablist">
	  		<li class="nav-item">
	  			<a class="nav-link" href="#excp" role="tab" data-toggle="tab">异常反馈</a>
	  		</li>
	  		<li class="nav-item">
	  			<a class="nav-link" href="#edu" role="tab" data-toggle="tab">问卷填写</a>
	  		</li>
	  	</ul>
	  	<a type="button" class="btn btn-danger logout" href="{:Url('logout_stu')}">登出</a>
	  </div>
	</nav>
	<div class="tab-content home-content">
		<div role="tabpanel" class="tab-pane active home-content-sign">  {学生}签到成功<br/>{the nth week}
			{上节课你忘了关xx仪器}
		</div>
		<div role="tabpanel" class="tab-pane" id="excp">
		  异常反馈
		  {include file="feedback/stu_excp"/}
		</div>
		<div role="tabpanel" class="tab-pane" id="edu">
		  问卷填写
		  {include file="feedback/stu_test"/}
		</div>
	</div>
</div>
