<div class="form-group">
    <div class="">
        上课时间
        <select class="form-control" name="sch_time_start">
            <option value="08:00">08:00</option>
            <option value="08:55">08:55</option>
            <option value="10:00">10:00</option>
            <option value="14:20">14:20</option>
            <option value="15:15">15:15</option>
            <option value="16:20">16:20</option>
            <option value="19:00">19:00</option>
            <option value="19:55">19:55</option>
        </select>
    </div>
</div>
