<div class="form-group">
    <div class="">
        下课时间
        <select class="form-control c-select" name="sch_time_end">
            <option value="09:40">09:40</option>
            <option value="10:45">10:45</option>
            <option value="11:40">11:40</option>
            <option value="16:00">16:00</option>
            <option value="17:05">17:05</option>
            <option value="18:00">18:00</option>
            <option value="20:40">20:40</option>
            <option value="21:35">21:35</option>
        </select>
    </div>
</div>
