<div class="login-signup input-group-btn">
	<button class="btn btn-warning dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" type="button">注册</button>
	<div class="dropdown-menu"  aria-labelledby="dropdownMenu1">
		<a class="dropdown-item" href="{:Url('Signup/SignUpTeacher')}">老师注册</a>
		<a class="dropdown-item" href="{:Url('Signup/SignUpTa')}">助理注册</a>
	</div>
</div>
<div class="container login">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<form class="input-group" method="post">
				<input type="text" name="admin_id" class="form-control" placeholder="请输入助教学号/教师职工号..." value="{$Think.get.id}">
				<span class="input-group-btn">
					<button class="btn btn-danger btn-secondary dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" type="button">登录</button>
					<div class="dropdown-menu dropdown-menu-login" aria-labelledby="dropdownMenu2">
						<button class="dropdown-item" name="lab_teacher" type="button">实验室仪器管理老师登录</button>
						<button class="dropdown-item" name="edu_teacher" type="button">上课老师登录</button>
						<button class="dropdown-item" name="ta" type="button">助理登录</button>
					</div>
				</span>
			</form>
			<div class="alert alert-danger alert-exist" role="alert" style="display:none">
			  <strong>错误：</strong> <span class="alert-link">学号/职工号不能为空</span>
			</div>
			<div class="alert alert-danger alert-id" role="alert" style="display:none">
			  <strong>错误：</strong> <span class="alert-link">学号/职工号不存在</span>
			</div>
		</div>
	</div>
</div>

<script>
  $(document).ready(function() {
	  $('.dropdown-menu-login .dropdown-item').click(function() {
		  $(".alert-exist").css('display','none');
	  	var who = this.name;
	  	//学号为空
		  if ($("input[name='admin_id']").val()=="") {
		  	$('.input-group').addClass('has-error');
	    	$(".alert-id").css('display','none');
		    $(".alert-exist").css('display','block');
		    return ;
		  }
		  //判断是否有该学号
		  $(".alert-exist").css('display','none');
	    $.post({
	    	url:'{:Url("check_admin")}',
	    	data: {'admin_id':$("input[name='admin_id']").val(), 'who':who},
	    	success:function(data) {
	    		console.log(data);
	    		switch(data){
	    			case '学号不存在':
	    			  $(".alert-id").css('display','block');
	    			  break;
	    			default:
	    			  $(".alert-exist").css('display','none');
	    			  $(".alert-id").css('display','none');
	    			  switch (data) {
	    			  	case 'Home/homeTa':
	    			  	window.location.href="{:Url('Home/homeTa')}";
	    			  	break;
	    			  	case 'Home/homeLabTeacher':
	    			  	window.location.href="{:Url('Home/homeLabTeacher')}";
	    			  	break;
	    			  	case 'Home/homeEduTeacher':
	    			  	window.location.href="{:Url('Home/homeEduTeacher')}";
	    			  	break;
	    			  	default:break;
	    			  }
	    		}
	    	},
	    	error:function() {
	    		console.log('error');
	    	}
	    })
	  }
	  )

  }
  )
</script>