<div class="container">
    <form action="{:Url('Excel/import_stu')}" enctype="multipart/form-data" class="excel form-inline row" method="post">
        <!-- 课程信息区 左6列 -->
        <div class="col-md-6">
            <!-- 标题提示 -->
            <div class="excel-import__title">
                <h3>输入课程信息</h3>
            </div><br>

            <!-- 课程名称输入 -->
            <div class="form-group">
                <label class="form-control-label" for="class_name">课程名称</label>
                <input class="form-control" id="class_name" type="text" name="name" placeholder="请输入课程名称...">
            </div><br><br>

            <!-- 上课课室输入 -->
            <div class="form-group">
                <label class="form-control-label" for="cla">上课教室</label>
                <select class="form-control" name="cla">
                    <option value="C101">C102</option>
                    <option value="C103">C103</option>
                    <option value="C105">C105</option>
                </select>
            </div><br><br>

            <!-- 学年学期 -->
            <div class="form-group">
                <select class="form-control" name="sch_year">
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                </select> 学年第
                <select class="form-control" name="sch_term">
                    <option value="1">一</option>
                    <option value="2">二</option>
                </select> 学期
            </div><br><br>

            <!-- 开课周 -->
            <div class="form-group">
                <div class="">
                    第 
                    <select class="form-control" name="sch_week_start">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                    </select> 周开课
                </div>
            </div><br><br>

            <!-- 结课周 -->
            <div class="form-group">
                <div class="">
                    第 
                    <select class="form-control" name="sch_week_end">
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="11">16</option>
                        <option value="12">17</option>
                        <option value="13">18</option>
                        <option value="14">19</option>
                    </select> 周结课
                </div>
            </div><br><br>

            <!-- 上课日 -->
            <div class="form-group">
                <div class="">
                    星期
                    <select class="form-control" name="sch_day">
                        <option value="一">一</option>
                        <option value="二">二</option>
                        <option value="三">三</option>
                        <option value="四">四</option>
                        <option value="五">五</option>
                        <option value="六">六</option>
                        <option value="日">日</option>
                    </select> 上课
                </div>
            </div><br><br>

            <!-- 上课时间 -->
            <div class="form-group">
                <div class="">
                    上课时间
                    <select class="form-control" name="sch_time_start">
                        <option value="08:00">08:00</option>
                        <option value="08:55">08:55</option>
                        <option value="10:00">10:00</option>
                        <option value="14:20">14:20</option>
                        <option value="15:15">15:15</option>
                        <option value="16:20">16:20</option>
                        <option value="19:00">19:00</option>
                        <option value="19:55">19:55</option>
                    </select>
                </div>
            </div><br><br>

            <!-- 下课时间 -->
            <div class="form-group">
                <div class="">
                    下课时间
                    <select class="form-control" name="sch_time_end">
                        <option value="09:40">09:40</option>
                        <option value="10:45">10:45</option>
                        <option value="11:40">11:40</option>
                        <option value="16:00">16:00</option>
                        <option value="17:05">17:05</option>
                        <option value="18:00">18:00</option>
                        <option value="20:40">20:40</option>
                        <option value="21:35">21:35</option>
                    </select>
                </div>
            </div><br><br>

            <!-- 组队人数 -->
            <div class="form-group">
                <div class="">
                    组队人数：
                    <select class="form-control" name="grp_mem_num">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select> 人
                </div>
            </div><br><br>

            <div class="alert alert-warning">课程所属教师即当前登录用户</div>
        </div>

        <!-- 文件上传 右6列 -->
        <div class="col-md-6">
            <label class="file">
                <input type="file" name="excel_stu" id="file">
                <span class="btn btn-primary">
                    <i class="fa fa-file-excel-o fa-5x"></i><br><br>
                    <div class="file-info">选择要导入的学生信息excel列表</div>
                </span>
            </label>
            <div class="file-alert alert alert-danger">导入的Excel文件请严格按照标准</div><br><br>
            <button class="btn btn-primary excel-submit" type="submit" onclick="check_data()"><h1>提交</h1></button>
        </div>
    </form>
</div>


<script>
    $('.excel').find('.form-control').blur(function() {
        console.log($(this))
        if ($(this).val() === '') $(this).parent('.form-group').addClass('has-error');
    })

    function check_data() {
        $.ajax({
            url: '{:Url("Excel/check_data")}',
            data: {
                'cla': $("select[name='cla']").val(),
                'sch_year': $("select[name='sch_year'").val(),
                'sch_term': $("select[name='sch_term'").val(),
                'sch_week_start': $("select[name='sch_week_start'").val(),
                'sch_week_end': $("select[name='sch_week_end'").val(),
                'sch_day': $("select[name='sch_day'").val(),
                'sch_time_start': $("select[name='sch_time_start'").val(),
                'sch_time_end': $("select[name='sch_time_end'").val()
            },
            success: function(data) {
                var index = data;
                // 出错
                if (index != 0) {
                    event.preventDefault();
                    console.log('错误！错误信息：'+data);
                    alert('错误！错误信息：'+data);
                    return;
                }
            },
            error: function(data) {
                event.preventDefault();
                alert('错误！错误信息：'+data);
                return;
            }
        })
        if ($("#file").val() == '') {
            event.preventDefault();
            alert('还没有上传学生excel');
            return;
        }
        if (!window.confirm('确认全部课程信息填写完成并已上传学生excel文件？')) {
            event.preventDefault();
            return;
        }
    }

    $("#file").change(function() {
        var arr = this.value.split('\\');
        var file_name = arr[arr.length - 1];
        $('.file-info').html(file_name);
        $('.file .btn').addClass('btn-success');
        $('.file .btn').removeClass('btn-primary');
    })

    $("select[name='sch_time_start']").change(function() {
        var val = $("select[name='sch_time_start']").val();
        console.log("value: "+val);
        switch(val) {
            case "08:00": $("select[name='sch_time_end']").val("09:40"); break;
            case "08:55": $("select[name='sch_time_end']").val("11:40"); break;
            case "10:00": $("select[name='sch_time_end']").val("11:40"); break;
            case "14:20": $("select[name='sch_time_end']").val("16:00"); break;
            case "15:15": $("select[name='sch_time_end']").val("18:00"); break;
            case "16:20": $("select[name='sch_time_end']").val("18:00"); break;
            case "19:00": $("select[name='sch_time_end']").val("20:40"); break;
            case "19:55": $("select[name='sch_time_end']").val("21:35"); break;
        }
    });

    $("select[name='sch_time_end']").change(function() {
        var val_end = $("select[name='sch_time_end']").val();
        var arr_end = val_end.split(':');
        var hour_end = parseInt(arr_end[0]);
        var min_end = parseInt(arr_end[1]);

        var val_start = $("select[name='sch_time_start']").val();
        var arr_start = val_start.split(':');
        var hour_start = parseInt(arr_start[0]);
        var min_start = parseInt(arr_start[1]);

        if ((hour_end>hour_start) || (hour_end==hour_start&&min_end>min_start)) {}
        else {
            switch(val_start) {
                case "10:00": $("select[name='sch_time_end']").val("11:40"); break;
                case "14:20": $("select[name='sch_time_end']").val("16:00"); break;
                case "15:15": $("select[name='sch_time_end']").val("18:00"); break;
                case "16:20": $("select[name='sch_time_end']").val("18:00"); break;
                case "19:00": $("select[name='sch_time_end']").val("20:40"); break;
                case "19:55": $("select[name='sch_time_end']").val("21:35"); break;
            }
        }
    });
</script>