<div class="container">
    <h2 style="margin-top: -25px;">{$course['nam']} 第{$GLOBALS['week']}周</h2>
    <table class="table table-hover" id="table-excp"></table>
    <div id="info_excp"></div>
    <!-- 模态框 -->
    <!-- tabindex="-1"使得该元素在使用tab键时被忽略 -->
    <div class="modal fade" id="change_excp_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- 页眉 -->
                <div class="modal-header">
                    <!-- 右上角关闭按钮 -->
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 标题 -->
                    <h4 class="modal-title" id="excp-modal__title">故障处理</h4>
                </div>
                <!-- 主体 -->
                <div class="modal-body">
                    <form class="form-inline row">
                        <!-- 故障处理方式输入 -->
                        <div class="form-group">
                            <label class="form-control-label" for="">请描述处理方式：</label>
                            <input class="form-control" id="excp_delWay" placeholder="请描述处理方式...">
                        </div>
                    </form>
                </div>
                <!-- 页脚 -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" id="excp_del_confirm">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableBox_excp = $('#table-excp');
    $(document).ready(function() {
        tableBox_excp.bootstrapTable({
            height: 600,
            striped: true,
            method: 'post',
            url: "{:Url('Excp/excp_status')}",
            dataType: 'json',
            showHeader: true,
            pagination: true,
            onlyInfoPagination: true,
            pageSize: 10,
            showRefresh: true,
            showColumns: true,
            sortName: 'submit_tim',
            sortOrder: 'desc',
            sortable: true,
            columns: [{
                field: 'excp_id',
                visible: false,
            }， {
                field: 'submit_tim',
                title: '提交时间',
                align: 'center'
            }, {
                field: 'nam',
                title: '学生',
                align: 'center',
                formatter: function(value, row, index) {
                    return value+"["+row['stu_id']+"]";
                }
            }, {
                field: 'cla',
                title: '位置',
                align: 'center',
                formatter: function(value, row, index) {
                    return value+' '+row['num'];
                }
            }, {
                field: 'excp_desc',
                title: '情况描述',
                align: 'left'
            }, {
                field: 'stat',
                title: '处理情况',
                align: 'left'
            }, {
                field: 'delNam',
                title: '处理人',
                align: 'center',
                formatter: function(value, row, index) {
                    return value+"["+row['delId']+"]";
                }
            }, {
                field: 'delTim',
                title: '处理时间',
                align: 'center'
            }, {
                field: 'delWay',
                title: '处理方式',
                align: 'left'
            }, {
                field: 'action',
                title: '操作',
                align: 'center',
                formatter: actionFormatter_excp
            }]
        });
    });

    $(document).click(function() {
        tableBox_excp.bootstrapTable('resetView');
    })

    function actionFormatter_excp(value, row, index) {
        var stat = row['stat'];
        var id = row['id'];
        var res = "";
        if (stat != "处理未成功")
            res += "<a href='javascript:;' class='btn btn-warning table-btn' onclick=\"edit_excp('" + id + "','undeal','"+index+"')\" title='处理未成功'><span>处理未成功</span></a>";
        if (stat != "已处理")
            res += "<a href='javascript:;' class='btn btn-success table-btn' onclick=\"edit_excp('" + id + "','deal','"+index+"')\" title='处理成功'><span>处理成功</span></a>";
        return res;
    }

    // 按钮点击事件
    function edit_excp(id, opera, index) {
        var val;
        switch (opera) {
            case 'deal': val = "已处理"; break;
            case 'undeal': val = "处理不成功"; break;
            default: val = 'error'; break;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url:'{:Url("Excp/edit_excp")}',
            data: {
                'id':id,
                'opera':opera
            },
            success: function(data) {
                $("#info_excp").html(id+'状态修改成功');
                console.log(data);
                tableBox_excp.bootstrapTable(
                    'updateCell',
                    {
                        index,
                        field: 'stat',
                        value: opera_value
                    }
                );
            },
            error: function() {
                $("#info_excp").html(id+'状态修改失败');
            }
        })
    }

    //持续更新页面
    function check_excp_update() {
        $.get({
            url:'{:Url("Excp/check_excp_update")}',
            success: function(data) {
                console.log(data);
                if (data=='changed') tableBox_excp.bootstrapTable('refresh', {silent:true});
            },
            error: function(error) {
                console.log(error);
            }
        })
        setTimeout(check_excp_update,1000);
    }
    check_excp_update();

</script>
