<?php
    $dev = [
        'dev_oscp' => '示波器',
        'dev_dcsource' => '直流电源',
        'dev_dmm' => '万用电表',
        'dev_display' => '显示器',
        'dev_pc' => '主机',
        'dev_pm' => '功率因数表',
        'dev_fsg' => '函数发生器',
        'dev_box_ac' => '交流电路实验箱',
        'dev_box_cir' => '电路基础实验箱',
        'dev_box_mode' => '模拟电路实验箱'
    ];
?>
<div class="container">
    <ul class="nav nav-tabs justify-content-center" id="excpstats-tab" role="tablist">
        {foreach $dev as $k => $v}
        <!-- {$v} -->
        <li class="nav-item">
            <a class="nav-link {if $k == 'dev_oscp'}active {/if}" href="#{$k}" role="tab" data-toggle="tab">{$v}</a>
        </li>
        {/foreach}
    </ul>
    <div class="tab-content">
        {foreach $dev as $k => $v}
        <!-- {$v} -->
        <div role="tabpanel" class="tab-pane{if $k == 'dev_oscp'} active{/if}" id="{$k}">
            <table class="table table-hover" id="table_{$k}"></table>
        </div>
        {/foreach}
    </div>
</div>

<script>
    $(document).ready(function() {
        function get_use_time(value, row, index) {
          var hour = parseInt(value / 60 / 60);
          var min = parseInt(value / 60 % 60);
          var sec = value % 60;
          return hour + '小时' + min + '分钟' + sec + '秒';
        }
        var dev_url = "{:Url('Table/table_dev')}" + "?dev_type=";
        {foreach $dev as $k=>$v}
        // {$v}

        $("#table_{$k}").bootstrapTable({
            striped: true,
            method: 'POST',
            url: dev_url + '{$v}',
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'sn',
                    title: '序列号',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'num',
                    title: '当前位置',
                    align: 'center',
                    sortable: true,
                    formatter: function(value, row, index) {
                        return row['cla'] + ' ' + value + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center',
                    sortable: true,
                    formatter: get_use_time
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center',
                    sortable: true
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        {/foreach}
    })
</script>
