<div class="container">
    <h2 style="margin-top: -25px;">{$course['nam']} 第{$GLOBALS['week']}周</h2>
    <table class="table table-hover" id="table-excp"></table>
    <div id="info_excp"></div>
    <!-- 模态框 -->
    <!-- tabindex="-1"使得该元素在使用tab键时被忽略 -->
    <div class="modal fade" id="del_excp_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!-- 页眉 -->
                <div class="modal-header">
                    <!-- 右上角关闭按钮 -->
                    <button class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <!-- 标题 -->
                    <h4 class="modal-title" id="excp-modal__title">故障处理</h4>
                </div>
                <!-- 主体 -->
                <div class="modal-body">
                    <form class="form-inline row">
                        <!-- 故障处理方式输入 -->
                        <div class="form-group">
                            <label class="form-control-label" for="">请描述处理方式：</label>
                            <input class="form-control" id="excp_delWay" placeholder="请描述处理方式..." required="required">
                        </div>
                    </form>
                </div>
                <!-- 页脚 -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <button class="btn btn-primary" id="excp_del_confirm">确认</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var tableBox_excp = $('#table-excp');
    $(document).ready(function() {
        tableBox_excp.bootstrapTable({
            height: 600,
            striped: true,
            method: 'post',
            url: "{:Url('Excp/excp_status')}",
            dataType: 'json',
            showHeader: true,
            pagination: true,
            onlyInfoPagination: true,
            pageSize: 10,
            showRefresh: true,
            showColumns: true,
            sortName: 'submit_tim',
            sortOrder: 'desc',
            sortable: true,
            detailView: true,
            columns: [{
                field: 'excp_id',
                visible: false
            }, {
                field: 'submit_tim',
                title: '提交时间',
                align: 'center'
            }, {
                field: 'nam',
                title: '学生',
                align: 'center',
                formatter: function(value, row, index) {
                    return value+"["+row['stu_id']+"]";
                }
            }, {
                field: 'cla',
                title: '位置',
                align: 'center',
                formatter: function(value, row, index) {
                    return value+' '+row['num'];
                }
            }, {
                field: 'excp_desc_info',
                title: '情况描述',
                align: 'left'
            }, {
                field: 'stat',
                title: '处理情况',
                align: 'center'
            }, {
                field: 'del_way_info',
                title: '过往处理',
                align: 'left',
                formatter: function(value, row, index) {
                    if (row['del_nam']=="")
                        return "";
                    else
                        return row['del_nam']+"["+row['del_id']+"] "+row['del_tim']+" "+value;
                }
            }, {
                field: 'action',
                title: '操作',
                align: 'center',
                formatter: actionFormatter_excp
            }],
            detailFormatter: function(index, row) {},
            onExpandRow: function(index, row, $detail) {
                console.log("$detail: "+$detail);
                var col = [{
                    field: 'excp_desc',
                    title: '详细情况描述',
                    align: 'left'
                }, {
                    field: 'del_way',
                    title: '详细过往描述',
                    align: 'left'
                }];
                $detail.html('<table></table>').find('table').bootstrapTable({
                    height: 300,
                    striped: true,
                    search: true,
                    method: 'POST',
                    showHeader: true,
                    showRefresh: true,
                    showColumns: true,
                    columns: col
                })
            }
        });
    });

    $(document).click(function() {
        tableBox_excp.bootstrapTable('resetView');
    })

    function actionFormatter_excp(value, row, index) {
        var stat = row['stat'];
        var id = row['excp_id'];
        // 处理不成功按钮
        var btn_not_suc = "<a href='javascript:;' class='btn btn-warning table-btn' onclick='del_excp(" + id + ", \"处理不成功\")' title='处理未成功' data-toggle='modal' data-target='del_excp_modal'><span>处理未成功</span></a>";
        // 处理成功按钮
        var btn_suc = "<a href='javascript:;' class='btn btn-success table-btn' onclick='del_excp(" + id + ", \"处理成功\")' title='处理成功' data-toggle='modal' data-target='del_excp_modal'><span>处理未成功</span></a>"
        var result = "";
        if (stat == "未处理")
            result += btn_not_suc;
        if (stat != "处理成功")
            result += btn_suc;
        return result;
    }

    // 按钮点击事件
    function del_excp(id, oper) {
        $("#excp_del_confirm").unbind('click').click(function() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "{:Url('Excp/del_excp')}",
                data: {
                    'id': id,
                    'oper': oper,
                    'des': $("#excp_delWay").val()
                },
                success: function(data) {
                    console.log(data);
                    $("#info_excp").html('操作成功！');
                    tableBox_excp.bootstrapTable('refresh',{silent: true});
                },
                error: function(data) {
                    console.log(data);
                    alert('错误！错误信息：'+data+'！请联系维护处理！');
                }
            })
        })
    }

    // 持续更新页面
    function check_excp_update() {
        $.get({
            url:'{:Url("Excp/check_excp_update")}',
            success: function(data) {
                console.log(data);
                if (data=='changed') tableBox_excp.bootstrapTable('refresh', {silent:true});
            },
            error: function(error) {
                console.log(error);
            }
        })
        setTimeout(check_excp_update,1000);
    }
    check_excp_update();
</script>
