<div class="container">
    <ul class="nav nav-tabs justify-content-center" id="excpstats-tab" role="tablist">
        <!-- 示波器 -->
        <li class="nav-item">
            <a class="nav-link active" href="#dev_oscp" role="tab" data-toggle="tab">示波器</a>
        </li>
        <!-- 直流源 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_dcsource" role="tab" data-toggle="tab">直流电源</a>
        </li>
        <!-- 万用电表 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_dmm" role="tab" data-toggle="tab">万用电表</a>
        </li>
        <!-- 显示器 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_display" role="tab" data-toggle="tab">显示器</a>
        </li>
        <!-- 主机 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_pc" role="tab" data-toggle="tab">主机</a>
        </li>
        <!-- 功率因数表 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_pm" role="tab" data-toggle="tab">功率因数表</a>
        </li>
        <!-- 函数发生器 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_fsg" role="tab" data-toggle="tab">函数发生器</a>
        </li>
        <!-- 交流电路实验箱 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_box_ac" role="tab" data-toggle="tab">交流电路实验箱</a>
        </li>
        <!-- 电路基础实验箱 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_box_cir" role="tab" data-toggle="tab">电路基础实验箱</a>
        </li>
        <!-- 模拟电路实验箱 -->
        <li class="nav-item">
            <a class="nav-link" href="#dev_box_mode" role="tab" data-toggle="tab">模拟电路实验箱</a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- 示波器 -->
        <div role="tabpanel" class="tab-pane active" id="dev_oscp">
            <table class="table table-hover" id="table_dev_oscp"></table>
        </div>
        <!-- 直流源 -->
        <div role="tabpanel" class="tab-pane" id="dev_dcsource">
            <table class="table table-hover" id="table_dev_dcsource"></table>
        </div>
        <!-- 万用电表 -->
        <div role="tabpanel" class="tab-pane" id="dev_dmm">
            <table class="table table-hover" id="table_dev_dmm"></table>
        </div>
        <!-- 显示器 -->
        <div role="tabpanel" class="tab-pane" id="dev_display">
            <table class="table table-hover" id="table_dev_display"></table>
        </div>
        <!-- 主机 -->
        <div role="tabpanel" class="tab-pane" id="dev_pc">
            <table class="table table-hover" id="table_dev_pc"></table>
        </div>
        <!-- 功率因数表 -->
        <div role="tabpanel" class="tab-pane" id="dev_pm">
            <table class="table table-hover" id="table_dev_pm"></table>
        </div>
        <!-- 函数发生器 -->
        <div role="tabpanel" class="tab-pane" id="dev_fsg">
            <table class="table table-hover" id="table_dev_fsg"></table>
        </div>
        <!-- 交流电路实验箱 -->
        <div role="tabpanel" class="tab-pane" id="dev_box_ac">
            <table class="table table-hover" id="table_dev_box_ac"></table>
        </div>
        <!-- 电路基础实验箱 -->
        <div role="tabpanel" class="tab-pane" id="dev_box_cir">
            <table class="table table-hover" id="table_dev_box_cir"></table>
        </div>
        <!-- 模拟电路实验箱 -->
        <div role="tabpanel" class="tab-pane" id="dev_box_mode">
            <table class="table table-hover" id="table_dev_box_mode"></table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        // 示波器
        $("#table_dev_oscp").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 直流源
        $("#table_dev_dcsource").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 万用电表
        $("#table_dev_dmm").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 显示器
        $("#table_dev_display").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 主机
        $("#table_dev_pc").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 功率因数表
        $("#table_dev_pm").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 函数发生器
        $("#table_dev_fsg").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 交流电路实验箱
        $("#table_dev_box_ac").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 电路基础实验箱
        $("#table_dev_box_cir").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
        // 模拟电路实验箱
        $("#table_dev_box_mode").bootstrapTable({
            height: 600,
            striped: true,
            method: 'POST',
            url: "{:Url('')}",
            showRefresh: true,
            showColumns: true,
            search: true,
            detailView: true,
            sortName: 'cnt',
            sortOrder: 'desc',
            sortable: true,
            pagination: true,
            onlyInfoPagination: true,
            columns: [
                {
                    field: 'sch_id',
                    title: '校编号',
                    align: 'center'
                },
                {
                    fidle: 'sn',
                    title: '序列号',
                    align: 'center'
                },
                {
                    field: 'cla',
                    title: '当前位置',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return value + ' ' + row['num'] + '桌';
                    }
                },
                {
                    field: 'cnt',
                    title: '故障次数',
                    align: 'center'
                },
                {
                    field: 'use_time',
                    title: '使用时长',
                    align: 'center'
                },
                {
                    field: 'stat',
                    title: '使用状态',
                    align: 'center'
                },
                {
                    field: 'model',
                    title: '型号',
                    align: 'center'
                },
                {
                    field: 'excp_info',
                    title: '过往故障描述',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return '请展开查看';
                    }
                }
            ],
            onExpandRow: function(index, row, $detail) {
                var excp_info = row['excp_info'];
                var table = '<table border="1" bordercolor="gainsboro">' +
                    '<tr style="text-align: center;"><th>过往故障描述</th></tr>' +
                    '<tr><td>' + excp_info + '</td></tr></table>';
                $detail.html(table);
            }
        });
    })
</script>