<div class="container">
    <h2 style="margin-top: -25px;">{$course['name']} 第{$GLOBALS['week']}周</h2>
    <h6>{$course['sch_time_start']}-{$course['sch_time_end']}</h6>
    <div id="toolbar">
    </div>
    <table class="table table-hover" id="table-stu"
        data-toolbar="#toolbar"
        data-search="true"
        data-show-refresh="true"
        data-show-columns="true">
    </table>
    <div id="info_stu"></div>
</div>
<script>

var tableBox_stu = $('#table-stu');
var render_time = 0;
$(document).ready(function() {
    tableBox_stu.bootstrapTable({
        height: 650,
        striped: true, // 隔行变色
        method: 'post',
        url: "{:Url('Table/table_stu')}",
        dataType: 'json',
        showHeader: true,
        pagination: true, //在表格底部显示分页工具栏
        onlyInfoPagination: true,
        pageSize: 1000,
        toolbar : "#toolbar",
        toolbarAlign: 'right',
        columns: [{
                field: 'id',
                title: '学号',
                sortable: true,
                align: 'center',
            },
            {
                field: 'name',
                title: '姓名',
                sortable: true,
                align: 'center',
            },
            {
                field: 'signin_w'+{$GLOBALS['sweek']},
                title: '登入时间',
                sortable: true,
                align: 'center',
            },
            {
                field: 'signout_w'+{$GLOBALS['sweek']},
                title: '登出时间',
                sortable: true,
                align: 'center',
            },
            {
                field: 'sign_w'+{$GLOBALS['sweek']},
                title: '签到状态',
                sortable: true,
                align: 'right',
                formatter: actionFormatter_stu,
            }
        ],
    });
});
$(document).click(function() {
    tableBox_stu.bootstrapTable('resetView');
})

function actionFormatter_stu(value, row, index) {
    var statu = value;
    var id = row['id'];
    var result = value + " ";
    if (statu != "已签到" && statu!="已补签")
        result += "<a href='javascript:;' class='btn btn-warning table-btn' onclick=\"edit_stu('" + id + "','append','"+index+"')\" title='补签'><span>补签</span></a>";
    if (statu != "已签到" && statu!="已请假")
        result += "<a href='javascript:;' class='btn btn-info table-btn ' onclick=\"edit_stu('" + id + "','leave','"+index+"')\" title='请假'><span>请假</span></a>";
    if (statu != "已签到" && statu!="缺勤")
        result += "<a href='javascript:;' class='btn btn-danger table-btn' onclick=\"edit_stu('" + id + "','absence','"+index+"')\" title='缺勤'><span>缺勤</span></a>";
    return result;
}
function edit_stu(id, opera, index) {
    var opera_value;
    switch (opera) {
        case 'append': opera_value = "已补签";break;
        case 'leave': opera_value = "已请假";break;
        case 'absence': opera_value = "缺勤";break;
        default: opera_value = 'error';break;
    }
    $.post({
        url:'{:Url("Table/edit_stu")}',
        data: {'id':id, 'opera':opera},
        success: function(data) {
            $("#info_stu").html(id+'状态修改成功');
            console.log(data);
            tableBox_stu.bootstrapTable('updateCell',{index,field:'sign_w'+{$GLOBALS['sweek']},value:opera_value});
        },
        error: function() {
            $("#info_stu").html(id+'状态修改失败');
        }
    })
}

//持续更新页面
function check_sql_update() {
    $.get({
        url:'{:Url("check_sql_update")}',
        success: function(data) {
            console.log(data);
            if (data=='changed') tableBox_stu.bootstrapTable('refresh', {silent:true});
        },
        error: function(error) {
            console.log(error);
        }
    })
    setTimeout(check_sql_update,1000);
}
check_sql_update();
</script>