.stu-excp {
  &-content {
    position: relative;
    margin: 0 auto;
    text-align: auto;
    &__unit {
      margin-top: 10px;
    }
  }
  &__submit {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  &__ta-statu {
    color: red;
    &+span {
      color: green;
    }
  }
}
