.stu-excp {
  &-content {
    position: relative;
    margin: 0 auto;
    text-align: auto;
  }
  &__submit {
    position: absolute;
    top: 0px;
    right: 10px;
  }
  &__ta-statu {
    color: red;
    &+span {
      color: green;
    }
  }
  &__part {
    text-align: left;
  }
  &__color {
    float: left;
  }
}
