<div class="container">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group row" name="grp_mem1">
            <label class="col-md-2 form-control-label" for="mem1">组长：</label>
            <p class="col-md-4 form-control" id="grp_mem1" name="grp_mem1"></p>
        </div>
        <div class="form-group row" name="grp_mem2">
            <label class="col-md-2 form-control-label" for="mem2">组员：</label>
            <p class="col-md-4 form-control" id="grp_mem2" name="grp_mem2"></p>
        </div>
        <div class="form-group row" name="grp_mem3">
            <label class="col-md-2 form-control-label" for="mem3">组员：</label>
            <p class="col-md-4 form-control" id="grp_mem3" name="grp_mem3"></p>
        </div>
        <div class="form-group row" name="grp_mem4">
            <label class="col-md-2 form-control-label" for="mem4">组员：</label>
            <p class="col-md-4 form-control" id="grp_mem4" name="grp_mem4"></p>
        </div>
    </div>
</div>

<script>
    $("div[name=grp_mem2]").css("display", "none");
    $("div[name=grp_mem3]").css("display", "none");
    $("div[name=grp_mem4]").css("display", "none");
</script>