<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>身份</th>
                    <th style="text-align: center;">学号</th>
                    <th style="text-align: center;">姓名</th>
                </tr>
            </thead>
            <tbody>
                <tr id="grp_mem1">
                    <th>组长</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="grp_mem2">
                    <th>组员</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="grp_mem3">
                    <th>组员</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr id="grp_mem4">
                    <th>组员</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $("#grp_mem2").css("display", "none");
    $("#grp_mem3").css("display", "none");
    $("#grp_mem4").css("display", "none");
    $("#grp_mem1>td:first-of-type").html("{$Think.session.user['id']}");
    $("#grp_mem1>td:nth-of-type(2)").html("{$Think.session.user['nam']}");
    $.ajax({
        type: "POST",
        dataType: "json",
        url: "{:Url('Signin/sign_in_data')}",
        success: function(data) {
            console.log(data);
            for (var i=1; i<=4; i++) {
                var index = 'stu' + i +'_id';
                if (data[index]==0 || data[index]==null) break;
                $("#grp_mem"+i+">td:first-of-type").html(data[index]['id']);
                $("#grp_mem"+i+">td:nth-of-type(2)").html(data[index]['nam']);
                $("#grp_mem"+i).css("display", "");
                console.log(data[index]);
            }
        },
        error: function(data) {
        }
    })
</script>
