<div class="container">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>身份</th>
                    <th>学号</th>
                    <th>姓名</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>组长</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>组员</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>组员</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th>组员</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $("div[name=grp_mem2]").css("display", "none");
    $("div[name=grp_mem3]").css("display", "none");
    $("div[name=grp_mem4]").css("display", "none");
</script>